@media all and (min-width:900.01px) {

    *,*:before,*:after {
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box
    }

    article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary {
        display: block;
    }

    audio, canvas, video {
        display: inline-block;
    }

    audio:not([controls]) {
        display: none;
        height: 0;
    }

    [hidden] {
        display: none;
    }

    html {
        background: #fff none repeat scroll 0 0;
        color: #000;
        font-size: 100%;
    }

    html, button, input, select, textarea {
        font-family: sans-serif;
    }

    body {
        margin: 0;
    }

    a:focus {
        outline: thin dotted;
    }

    a:active, a:hover {
        outline: 0 none;
    }

    h1 {
        font-size: 2em;
        margin: 0.67em 0;
    }

    h2 {
        font-size: 1.5em;
        margin: 0.83em 0;
    }

    h3 {
        font-size: 1.17em;
        margin: 1em 0;
    }

    h4 {
        font-size: 1em;
        margin: 1.33em 0;
    }

    h5 {
        font-size: 0.83em;
        margin: 1.67em 0;
    }

    h6 {
        font-size: 0.67em;
        margin: 2.33em 0;
    }

    abbr[title] {
        border-bottom: 1px dotted;
    }

    b, strong {
        font-weight: bold;
    }

    blockquote {
        margin: 1em 40px;
    }

    dfn {
        font-style: italic;
    }

    hr {
        box-sizing: content-box;
        height: 0;
    }

    mark {
        background: #ff0 none repeat scroll 0 0;
        color: #000;
    }

    p, pre {
        margin: 1em 0;
    }

    code, kbd, pre, samp {
        font-family: monospace,serif;
        font-size: 1em;
    }

    pre {
        overflow-wrap: break-word;
        white-space: pre-wrap;
    }

    q {
        quotes: none;
    }

    q::before, q::after {
        content: none;
    }

    small {
        font-size: 80%;
    }

    sub, sup {
        font-size: 75%;
        line-height: 0;
        position: relative;
        vertical-align: baseline;
    }

    sup {
        top: -0.5em;
    }

    sub {
        bottom: -0.25em;
    }

    dl, menu, ol, ul {
        margin: 1em 0;
    }

    dd {
        margin: 0 0 0 40px;
    }

    menu, ol, ul {
        padding: 0 0 0 40px;
    }

    nav ul, nav ol {
        list-style: outside none none;
    }

    img {
        border: 0 none;
    }

    svg:not(:root) {
        overflow: hidden;
    }

    figure {
        margin: 0;
    }

    form {
        margin: 0;
    }

    fieldset {
        border: 1px solid #c0c0c0;
        margin: 0 2px;
        padding: 0.35em 0.625em 0.75em;
    }

    legend {
        border: 0 none;
        padding: 0;
        white-space: normal;
    }

    button, input, select, textarea {
        font-size: 100%;
        margin: 0;
        vertical-align: baseline;
    }

    button, input {
        line-height: normal;
    }

    button, select {
        text-transform: none;
    }

    button, html input[type="button"], input[type="reset"], input[type="submit"] {
        cursor: pointer;
    }

    button[disabled], html input[disabled] {
        cursor: default;
    }

    input[type="checkbox"], input[type="radio"] {
        box-sizing: border-box;
        padding: 0;
    }

    input[type="search"] {
        box-sizing: content-box;
    }

    button::-moz-focus-inner, input::-moz-focus-inner {
        border: 0 none;
        padding: 0;
    }

    textarea {
        overflow: auto;
        vertical-align: top;
    }

    table {
        border-collapse: collapse;
        border-spacing: 0;
    }

    #noticeBar {
        display: none;
        padding: 10px 0;
    }

    #noticeBar .content {
        background: #fff none repeat scroll 0 0;
        border: 3px dashed red;
        margin: 0 auto;
        padding: 20px;
        text-align: center;
        width: 1000px;
    }

    #noticeBar h3 {
        color: #000;
        font-family: Arial,Helvetica,sans-serif;
        font-size: 14px;
        line-height: 1.2em;
        text-align: left;
    }

    #noticeBar h3 span {
        color: #f00;
    }

    .form-position {
        margin: 2px auto 0;
    }

    .submit {
        margin-left: 16px;
    }

    .frm-btm input {
        background-image: url("submit-btn.png");
        color: #fff;
        text-transform: uppercase;
        font-size: 16px;
        padding-left: 44px;
        font-weight: bold;
        padding-top: 0px;
        margin-top:10px;
    }

    .left {
        float: left;
    }

    .right {
        float: right;
    }

    .clear {
        clear: both;
    }

    .hidden {
        display: none;
    }

    .hideText {
        overflow: hidden;
        text-indent: 100%;
        white-space: nowrap;
    }

    .rounded8top {
        border-radius: 8px 8px 0 0;
    }

    .rounded10 {
        border-radius: 10px;
    }

    .shadow {
        box-shadow: 0 0 3px 1px #ddd;
    }

    .spinner {
        background: rgba(0, 0, 0, 0);
        height: 120px;
        width: 100%;
    }

    #noticeBar {
        background-color: #333;
        color: #ccc;
        font-size: 18px;
        font-weight: bold;
        padding: 10px 0;
        text-align: center;
    }

    #cvvTip {
        font-family: Arial,Helvetica,sans-serif;
    }

    #cvvTip h3 {
        color: #333;
        font-size: 12px;
        font-weight: bold;
    }

    #cvvTip p {
        color: #333;
        font-size: 12px;
        padding: 10px 0;
    }

    .footer {
        border-top: 1px solid #e7e7ce;
        color: #887070;
        font-family: Arial;
        font-size: 12pt;
        margin: 20px auto;
        max-width: none;
        padding-bottom: 6px;
        padding-top: 23px;
        text-align: center;
        width: 100%;
    }

    .footer ul {
        margin: 0;
        padding: 0;
    }

    .footer ul li {
        color: #887070;
        display: inline;
        float: none;
        font-size: 17px;
        font-weight: normal;
        line-height: 17px;
        margin: 0;
        padding: 0 2px;
    }

    .footer a {
        background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
        color: #887070;
        display: inline;
        font-family: "Open Sans",sans-serif;
        font-size: 17px;
        font-weight: normal;
        height: auto;
        text-decoration: none;
        text-transform: capitalize;
        width: auto;
    }

    .footer p {
        line-height: normal;
        padding: 7px 0 0;
        text-align: center;
    }

    .footer p:last-child {
    }

    form .fields {
        padding: 20px 10px 10px 10px;
    }

    form .fields .label {
        color: #4d6169;
        float: left;
        font-family: "Open Sans",sans-serif;
        font-size: 16px;
        letter-spacing: -0.2px;
        line-height: 31px;
        margin-left: 4px;
        margin-right: 5px;
        text-align: right;
        width: 90px;
    }

    form .fields .input input {
        background-color: #fff;
        border: 1px solid #dfdfdf;
        color: #000000;
        float: none;
        font-family: "Open Sans",sans-serif;
        font-size: 14px;
        height: 39px;
        line-height: 100%;
        margin: 0 0 10px;
        outline: medium none;
        padding-left: 10px;
        text-align: left;
        width: 100%;
        position: relative;
        z-index: 1;
    }

    form .fields .input select {
        background-color: #fff;
        border: 1px solid #dfdfdf;
        color: #000000;
        font-family: "Open Sans",sans-serif;
        font-size: 14px;
        /* height: 33px; */
        line-height: 37px;
        margin: 0 0 10px;
        outline: medium none;
        padding-left: 10px;
        text-align: left;
        width: 191px;
    }

    form .fields .input input.error {
        background: #fff no-repeat scroll right center;
        border: 1px solid orange;
    }

    form .fields .input select.error {
        border: 1px solid orange;
    }

    form .fields .input input.valid {
        background: #fff  no-repeat scroll right center;
        border: 1px solid green;
    }

    form .fields .input select.valid {
        background: #fff no-repeat scroll right center;
        border: 1px solid green;
    }

    form .fields .spacer {
        font-size: 1px;
        height: 7px;
        line-height: 1px;
    }

    form .methods {
    }

    form .cards {
        display: inline-block;
        list-style: outside none none;
        margin: 0;
        overflow: hidden;
        padding: 0;
    }

    form .cards li {
        float: left;
        height: 32px;
        margin-right: 8px;
        text-indent: -9999px;
        transition: all 0.2s ease 0s;
        width: 51px;
    }

    form .cards li:last-child {
        margin-right: 0;
    }

    form .cards .visa.off {
        background-position: 0 32px;
    }

    form .cards .visa_electron {
        background-position: 255px 0;
    }

    form .cards .visa_electron.off {
        background-position: 255px 32px;
    }

    form .cards .mastercard {
        background-position: 204px 0;
    }

    form .cards .mastercard.off {
        background-position: 204px 32px;
    }

    form .cards .maestro {
        background-position: 153px 0;
    }

    form .cards .maestro.off {
        background-position: 153px 32px;
    }

    form .cards .discover {
        background-position: 102px 0;
    }

    form .cards .discover.off {
        background-position: 102px 32px;
    }

    form .cards .amex {
        background-position: 51px 0;
    }

    form .cards .amex.off {
        background-position: 51px 32px;
    }

    form .fields .input select[name="fields_expmonth"], form .fields .input select[name="fields_expyear"] {
        width: 93px;
    }

    form .fields .input select[name="cc_month"] {
        margin-left: 5px;
    }

    form .fields .input input[name="cc_cvv"] {
        float: left;
        width: 85px;
    }

    form .fields a.cvvTip {
        color: #58aa00;
        font-size: 14px;
        line-height: 31px;
        margin-left: 8px;
    }

    form .terms {
        padding-bottom: 20px;
    }

    form .terms .question {
        color: #333;
        font-size: 15px;
        text-align: center;
    }

    form .terms .question input {
        margin-left: 10px;
        margin-right: 5px;
    }

    form .terms .term {
        color: #333;
        font-size: 12px;
    }

    form .terms .term input {
        margin-left: 5px;
        margin-right: 3px;
        margin-top: 1px;
        vertical-align: top;
    }

    form .button {
        text-align: center;
    }

    form .fields .input select[name="expmonth"], form .fields .input select[name="expyear"] {
        width: 93px;
    }

    form .fields .input input[name="CVV"] {
        float: left;
        width: 85px;
    }

    .slick-slider {
        -moz-user-select: none;
        box-sizing: border-box;
        display: block;
        position: relative;
        touch-action: pan-y;
    }

    .slick-list {
        display: block;
        margin: 0;
        overflow: hidden;
        padding: 0;
        position: relative;
    }

    .slick-list:focus {
        outline: medium none;
    }

    .slick-list.dragging {
        cursor: pointer;
    }

    .slick-slider .slick-track, .slick-slider .slick-list {
        transform: translate3d(0px, 0px, 0px);
    }

    .slick-track {
        display: block;
        left: 0;
        position: relative;
        top: 0;
    }

    .slick-track::before, .slick-track::after {
        content: "";
        display: table;
    }

    .slick-track::after {
        clear: both;
    }

    .slick-loading .slick-track {
        visibility: hidden;
    }

    .slick-slide {
        /* display: none; */
        float: none !important;
        display: table-cell;
        height: 100%;
        min-height: 1px;
    }

    [dir="rtl"] .slick-slide {
        float: right;
    }

    .slick-slide img {
        display: block;
    }

    .slick-slide.slick-loading img {
        display: none;
    }

    .slick-slide.dragging img {
        pointer-events: none;
    }

    .slick-initialized .slick-slide {
        display: block;
    }

    .slick-loading .slick-slide {
        visibility: hidden;
    }

    .slick-vertical .slick-slide {
        border: 1px solid transparent;
        display: block;
        height: auto;
    }

    .slick-arrow.slick-hidden {
        display: none;
    }

    .slick-loading .slick-list {
    }

    @font-face {
        font-family: "slick";
        font-style: normal;
        font-weight: normal;
    }

    .slick-slider {
        margin-bottom: 30px;
    }

    .slick-dots {
        bottom: -60px;
        display: block;
        list-style: outside none none;
        padding: 0;
        position: absolute;
        text-align: center;
        width: 100%;
    }

    .slick-dots li {
        border-radius: 50%;
        cursor: pointer;
        display: inline-block;
        height: 12px;
        list-style: outside none none;
        margin: 0 4px;
        padding: 0;
        position: relative;
        width: 12px;
    }

    .slick-dots li button {
        background: #cfcfcf none repeat scroll 0 0;
        border: 0 none;
        border-radius: 50%;
        color: transparent;
        cursor: pointer;
        display: block;
        font-size: 0;
        height: 12px;
        line-height: 0;
        outline: medium none;
        padding: 5px;
        width: 12px;
    }

    .slick-dots li button:hover, .slick-dots li button:focus {
        background: #5a266e none repeat scroll 0 0;
        height: 12px;
        outline: medium none;
    }

    .slick-dots li button:hover::before, .slick-dots li button:focus::before {
        opacity: 1;
    }

    .slick-dots li button::before {
        background: #5a266e none repeat scroll 0 0;
        border-radius: 50%;
        color: black;
        content: "ï¿½";
        height: 12px;
        left: 0;
        opacity: 0;
        position: absolute;
        text-align: center;
        top: 0;
        width: 12px;
    }

    .slick-dots li.slick-active button::before {
        color: black;
        opacity: 1;
    }



    body {
        background: #fafdfd none repeat scroll 0 0;
        color: #000000;
        font-family: "Open Sans",sans-serif;
        font-size: 18px;
        line-height: 28px;
        margin: auto;
        padding: 0;
        text-align: left;
    }

    div, ul, h1, h2, h3, h5, li, p, img, form, input, textarea {
        margin: 0;
        padding: 0;
    }

    img {
        border: medium none;
    }

    li {
        list-style: outside none none;
    }

    .clearall {
        clear: both;
        font-size: 1px;
        height: 1px;
        line-height: 1px;
    }

    div#container {
        height: auto;
    }

    .contentWrap {
        margin: 0 auto;
        position: relative;
        width: 1004px;
    }

    .tophdr {
        background: #ff0000 none repeat scroll 0 0;
        height: 32px;
        margin: 0 auto;
        padding: 0;
        width: 100%;
    }

    .hdrtxt {
        color: #ffffff;
        font-size: 16px;
        font-weight: 600;
        line-height: 32px;
        margin: 0;
        padding: 0;
        text-align: center;
    }

    .hdrtxt span {
        font-size: 18px;
        font-weight: bold;
        text-transform: uppercase;
    }

    .hdrtxt b {
        color: #fff200;
    }

    div#section1, div#section2, div#section3, .sec3inner, div#section4, div#section5, div#section6, .sec6inner, div#section7, .sec7inner {
        display: block;
        margin: 0 auto;
        min-width: 1004px;
        width: 100%;
    }

    div#section1 {
        background: #fafdfd none repeat scroll 0 0;
        height: 772px;
    }

    .sec1inner {
        background: rgba(0, 0, 0, 0) url("section1.jpg") no-repeat scroll center top;
        height: 772px;
        margin: 0 auto;
        position: relative;
    }

    .lft-content, .rgt-frm {
        display: inline-block;
        float: left;
        width: 69%;
    }

    .s1-logo, .s1-tagline {
        left: 176px;
        position: absolute;
        top: 16px;
    }

    .s1-tagline {
        left: 436px;
        top: 31px;
    }

    .s1hding, .s8hding {
        color: #2c529d;
        font-family: "Open Sans";
        font-size: 29px;
        letter-spacing: -1px;
        line-height: 28px;
        margin: 0;
        padding: 120px 0 0 177px;
        text-align: left;
    }

    .s1hding2, .s8hding2 {
        color: #f47a30;
        font-family: "Open Sans";
        font-size: 34px;
        font-weight: 800;
        letter-spacing: -2px;
        line-height: 45px;
        margin: 0;
        padding: 0 0 0 173px;
        text-align: left;
        text-transform: uppercase;
    }

    .s1hding2 span, .s8hding2 span {
        color: #5a266e;
    }

    .s1-prod1, .s1-prod2, .s1-arrow, .s1seal {
        left: -95px;
        position: absolute;
        top: 406px;
    }

    .s1-prod2 {
        left: -79px;
        top: 353px;
    }

    .s1-arrow {
        left: 161px;
        top: 612px;
    }

    .s1seal {
        left: -108px;
        top: 604px;
        width: 140px;
    }

    .doctor {
        margin: 0px 0 0 200px;
        position: relative;
        width: 439px;
    }

    .s1txt {
        color: #535353;
        font-size: 15px;
        font-style: italic;
        font-weight: 600;
        line-height: 18px;
        margin: 0;
        padding: 20px 0 0;
        text-align: left;
    }

    .s1txt span {
        color: #000000;
        font-style: normal;
        font-weight: 800;
    }

    .s1no-pres {
        /* margin-top: 30px; */
    }

    ul.s1list, ul.s8list {
        margin: 20px 0 0 225px;
        padding: 0;
        width: 66%;
    }

    ul.s1list li, ul.s8list li {
        background: rgba(0, 0, 0, 0) url("bulletpoint.png") no-repeat scroll left 7px;
        color: #2e4555;
        font-size: 18px;
        height: 50px;
        letter-spacing: -0.5px;
        line-height: 23px;
        margin: 0 0 2px;
        padding: 5px 0 0 49px;
        text-align: left;
    }

    ul.s1list li span, ul.s8list li span {
        color: #482556;
        font-size: 18px;
        font-weight: 700;
    }

    ul.s1list li:nth-child(3) {
        margin: 24px 0 2px;
        padding: 6px 0 0 49px;
    }

    .as-seen {
        margin: 35px 0 0 212px;
    }

    .rgt-frm {
        -moz-border-bottom-colors: none;
        -moz-border-left-colors: none;
        -moz-border-right-colors: none;
        -moz-border-top-colors: none;
        background: #f7f7f1 none repeat scroll 0 0;
        border-color: #2c529d #2c529d #2c529d;
        border-image: none;
        border-style: solid;
        border-width: 2px 2px 2px;
        margin: 197px 0 0;
        width: 30.6%;
    }

    .form-position {
        /* float: left; */
        margin: 0;
    }

    .frmElemts {
        clear: both;
        margin: 6px 0 0;
    }

    .frmElemts label {
        color: #4d6169;
        float: left;
        font-family: "Open Sans",sans-serif;
        font-size: 16px;
        letter-spacing: -0.2px;
        line-height: 31px;
        margin-right: 9px;
        text-align: right;
        width: 90px;
    }

    .frmElemts input, .frmElemts select {
        background-color: #fff;
        border: 1px solid #dfdfdf;
        color: #000000;
        float: right;
        font-family: "Open Sans",sans-serif;
        font-size: 14px;
        height: 31px;
        line-height: 37px;
        margin: 0 0 6px;
        outline: medium none;
        padding-left: 4px;
        text-align: left;
        width: 185px;
    }

    .frmElemts select {
        height: 33px;
        line-height: 35px;
        width: 191px;
    }

    .frmElemts select.short {
        height: 30px;
        line-height: 38px;
        margin: 0 1px 6px 5px;
        width: 32%;
    }

    .frmElemts select.short2 {
        float: left;
        margin: 0 0 0 2px;
        width: 31%;
    }

    .frmElemts input.short2 {
        float: left;
        margin: 0 0 0 2px;
        width: 29%;
    }

    .frm-btm {
        /* border-bottom: 2px solid #2c529d; */
        margin: 0 auto;
        padding-bottom: 0px;
        width: 100%;
    }

    .submit {
        background: rgba(0, 0, 0, 0) url("submit-btn.png") no-repeat scroll 0 0;
        border: medium none;
        cursor: pointer;
        display: block;
        height: 70px;
        margin: 10px auto 0;
        outline: medium none;
        width: 276px;
    }

    .cards {
        display: block;
        margin: 5px auto;
    }

    .lock {
        display: block;
        margin: 8px auto 0;
    }

    .security {
        display: block;
        margin: 8px auto 0;
    }

    div#section2 {
        background: #ffffff none repeat scroll 0 0;
        height: 520px;
    }

    .sec2inner {
        background: rgba(0, 0, 0, 0);
        height: 480px;
    }

    .sec2hding {
        color: #050404;
        font-family: "Open Sans";
        font-size: 35px;
        font-weight: 800;
        letter-spacing: -2px;
        line-height: 49px;
        margin: 0;
        padding: 49px 0 0;
        text-align: center;
        text-transform: uppercase;
    }

    .sec2hding span {
        color: #ff0000;
        font-size: 48px;
        line-height: 33px;
    }

    .s2txt {
        color: #282828;
        font-size: 20px;
        line-height: 22px;
        margin: 0;
        padding: 0;
        text-align: center;
    }

    .box-area {
        box-sizing: border-box;
        display: block;
        height: 394px;
        margin: 24px auto 0;
        padding: 0;
        position: relative;
        width: 92%;
    }

    .s2box1, .s2box2, .s2box3, .s2box4 {
        box-sizing: border-box;
        display: inline-block;
        float: left;
        margin: 0;
        padding: 0;
        position: relative;
        width: 25%;
    }

    .s2box-txt {
        color: #282828;
        font-size: 20px;
        font-weight: 700;
        letter-spacing: -0.5px;
        line-height: 22px;
        margin: 0;
        padding: 10px 0 0;
        text-align: center;
    }

    div#section3 {
        background: #eff0f2 none repeat scroll 0 0;
        height: 963px;
    }

    .sec3inner {
        background: rgba(0, 0, 0, 0) url("bg-sp.jpg") no-repeat scroll center 0;
        height: 963px;
        margin: 0 auto;
    }

    .s3img1, .s3-prod1, .s3-prod2, .hding-img {
        position: absolute;
        right: 160px;
        top: 296px;
    }

    .satisfaction-seal {
        left: 19px;
        position: absolute;
        top: 690px;
    }

    .s3-prod1 {
        right: 77px;
        top: 380px;
    }

    .s3-prod2 {
        right: -57px;
        top: 321px;
    }

    .s3hding, .s4hding, .s5hding, .s6hding, .s7hding {
        color: #5a266e;
        font-family: "Open Sans";
        font-size: 25px;
        font-weight: 800;
        letter-spacing: -1.2px;
        line-height: 41px;
        margin-left: -0.5px;
        padding: 78px 0 0;
        text-align: left;
        text-transform: uppercase;
    }

    .s3hding span, .s4hding span, .s5hding span, .s6hding span, .s7hding span {
        color: #f47a30;
        font-size: 30px;
        line-height: 33px;
    }

    .hding-img {
        right: 416px;
        top: 10px;
    }

    .sec3txt {
        font-size: 14px;
        letter-spacing: -0.5px;
        line-height: 22px;
        margin: 0;
        padding: 23px 60px 0 0;
        width: 626px;
    }

    .sec3txt span {
        color: #f47a30;
    }

    .sec3txt2, .sec3txt3 {
        color: #ffffff;
        font-size: 24px;
        letter-spacing: -0.5px;
        line-height: 27px;
        margin: 0;
        padding: 95px 0 0 20px;
        text-align: left;
        text-transform: uppercase;
    }

    .sec3txt2 span {
        font-size: 28px;
        font-weight: bold;
    }

    .sec3txt3, .sec3txt4 {
        font-size: 13px;
        font-style: italic;
        font-weight: 600;
        letter-spacing: -0.4px;
        line-height: 24px;
        padding: 6px 0 0 20px;
        text-transform: none;
        width: 382px;
    }

    .sec3txt4 {
        color: #232323;
        font-size: 15px;
        letter-spacing: -0.5px;
        line-height: 24px;
        padding: 60px 0 0 30px;
        width: 516px;
    }

    .btn-strip, .s4btn-strip, .s5btn-strip, .s6btn-strip {
        background: rgba(0, 0, 0, 0) url("spr.png") no-repeat scroll -141px 0;
        height: 123px;
        margin: 35px auto 0;
        position: relative;
        width: 100%;
    }

    .btn-txt {
        color: #262626;
        font-size: 21px;
        font-weight: bold;
        letter-spacing: -0.6px;
        line-height: 33px;
        margin: 0;
        padding: 30px 15px 0 30px;
        text-align: left;
    }

    .btn-txt span {
        font-size: 27px;
        letter-spacing: -1px;
        text-transform: uppercase;
    }

    .sec3btn {
        position: absolute;
        right: 27px;
        top: 27px;
    }

    div#section4 {
        background: rgba(0, 0, 0, 0) url("bg-sp.jpg") no-repeat scroll center -961px;
        height: 922px;
    }

    .s4-logo, .hding-img2 {
        left: 116px;
        position: absolute;
        top: 38px;
    }

    .hding-img2 {
        left: 446px;
        top: 6px;
    }

    .s4hding {
        line-height: 45px;
        margin: 0;
        padding: 60px 0 20px 137px;
    }

    .s4seal {
        position: absolute;
        right: 5px;
        top: 6px;
    }

    .s4txt, .s4txt2, .s4txt3 {
        color: #404040;
        font-size: 15px;
        letter-spacing: -0.5px;
        line-height: 24px;
        margin: 0;
        padding: 15px 0 0 204px;
        text-align: left;
        width: 918px;
    }

    .s4txt span, .s4txt6 {
        color: #000000;
        font-size: 15px;
        font-weight: bold;
        line-height: 24px;
    }

    .s4txt b {
        color: #e66120;
    }

    .s4txt2 {
        color: #fff;
        font-weight: 600;
        letter-spacing: -0.5px;
        line-height: 20px;
        margin: 0;
        padding: 14px 0 0 129px;
        text-align: left;
        width: 649px;
    }

    .s4txt3 {
        font-size: 12px;
        font-weight: bold;
        letter-spacing: -0.5px;
        line-height: 20px;
        padding: 31px 0 0 127px;
        text-transform: uppercase;
    }

    .s4txt4, .s4txt5 {
        color: #e66120;
        font-size: 19px;
        font-style: italic;
        font-weight: 800;
        letter-spacing: -0.6px;
        line-height: 30px;
        margin: 0;
        padding: 14px 0 0 181px;
        text-align: left;
        text-transform: uppercase;
    }

    .s4txt5 {
        letter-spacing: normal;
        padding: 14px 0 0 182px;
    }

    .s4img {
        position: absolute;
        right: 0;
        top: 396px;
    }

    .s4txt6 {
        color: #303030;
        letter-spacing: -0.4px;
        line-height: 22px;
        padding: 31px 330px 0 9px;
    }

    .s4txt3 span, .s4txt6 span {
        color: #e66120;
    }

    .s4btn-strip {
        margin: 30px auto 0;
    }

    div#section5 {
        background: rgba(0, 0, 0, 0) url("bg-sp.jpg") no-repeat scroll center -1884px;
        height: 1123px;
    }

    .sec5inner {
        height: 1080px;
        width: 100%;
    }

    .s5hding {
        line-height: 46px;
        padding: 84px 0 0;
        text-align: center;
    }

    .sec5txt {
        color: #000000;
        font-weight: bold;
        letter-spacing: -0.5px;
        line-height: 26px;
        margin: 0;
        padding: 42px 0 0;
        text-align: center;
    }

    .sec5txt span {
        color: #e66120;
    }

    .s5benefits {
        margin: 0 auto;
        width: 100%;
    }

    .s5box1, .s5box2, .s5box3, .s5box4, .s5box5 {
        display: inline-block;
        float: left;
        margin: 17px auto 0;
        width: 20%;
    }

    .bnft-txt {
        color: #5a266e;
        font-size: 20px;
        font-weight: bold;
        /* height: 80px; */
        /* letter-spacing: -0.7px; */
        line-height: 24px;
        margin: 0 auto;
        padding: 0px 0 10px;
        text-align: center;
        text-transform: uppercase;
    }

    .bnft-txt2 {
        color: #2d2d2d;
        font-size: 15px;
        letter-spacing: -0.5px;
        line-height: 1;
        margin: 0 auto;
        padding: 0 10px;
        text-align: center;
    }

    .s5-prod1, .s5-prod2, .s5-prod3, .s5img, .s5img2 {
        left: 271px;
        position: absolute;
        top: 585px;
    }

    .s5-prod2 {
        left: 444px;
        top: 585px;
    }

    .s5-prod3 {
        left: 332px;
        top: 534px;
    }

    .s5img {
        left: -29px;
        top: 850px;
    }

    .s5img2 {
        left: 686px;
        top: 814px;
    }

    .s5lft-txt, .s5rgt-txt {
        color: #5a266e;
        display: inline-block;
        font-size: 21px;
        font-style: italic;
        font-weight: bold;
        letter-spacing: -0.5px;
        line-height: 30px;
        margin: 455px -201px 0 7px;
        text-align: left;
        text-transform: uppercase;
        width: 49%;
        vertical-align: top;
    }

    .s5rgt-txt {
        font-size: 23px;
        letter-spacing: -0.5px;
        margin-right: 0;
    }


    .s5lft-txt span {
        color: #f47a30;
        font-size: 16px;
    }

    .s5rgt-txt span {
        color: #f47a30;
        font-size: 20px;
    }

    .s5rgt-txt b {
        color: #000;
        font-size: 20px;
    }

    .s5btn-strip {
        margin: -10px auto 0;
    }

    div#section6 {
        background: #fff none repeat scroll 0 0;
        height: 1029px;
    }

    .sec6inner {
        background: rgba(0, 0, 0, 0) url("bg-sp.jpg") no-repeat scroll center -2972px;
        height: 1029px;
        margin: 0 auto;
    }

    .s6hding {
        line-height: 32px;
        padding: 39px 0 0;
        top: 4px;
        position: relative;
    }

    .natural-seal {
        position: absolute;
        right: 0px;
        top: 20px;
    }

    .sec6lft, .sec6rgt {
        display: inline-block;
        float: left;
        margin: 80px 0 0;
        padding: 0;
        width: 26%;
    }

    .sec6rgt {
        padding: 0 0 0 3px;
        width: 73%;
    }

    .s6ingrnts1, .s6ingrnts2, .s6ingrnts3, .s6ingrnts4, .s6ingrnts5, .s6ingrnts6 {
        color: #ffffff;
        font-size: 17px;
        font-weight: bold;
        letter-spacing: -0.5px;
        line-height: 24px;
        margin: 0;
        padding: 13px 0 0;
        text-align: center;
        text-transform: uppercase;
    }

    .s6ingrnts2 {
        padding: 63px 0 104px;
    }

    .s6ingrnts3 {
        color: #f47a30;
        padding: 0 0 0 160px;
        text-align: left;
    }

    .lftingrnts, .rgtingrnts {
        display: inline-block;
        float: left;
        margin: 0;
        padding: 0;
        width: 49%;
    }

    .s6ingrnts4, .s6ingrnts5 {
        color: #d50023;
        padding: 32px 0 0 21px;
        text-align: left;
    }

    .s6ingrnts5 {
        color: #083c90;
        padding: 27px 0 0 24px;
    }

    .s6txt, .s6txt2, .s6txt3 {
        color: #353535;
        letter-spacing: -0.4px;
        line-height: 1;
        margin: 0;
        padding: 14px;
        text-align: center;
        font-size: 15px;
    }

    .s6txt2 {
        padding: 3px 90px 0 160px;
        text-align: left;
    }

    .s6txt3 {
        padding: 6px 10px 0 23px;
        text-align: left;
        width: 220px;
    }

    .s6ingrnts6 {
        color: #703135;
        padding: 73px 0 5px 160px;
        text-align: left;
    }

    .s6btm-txt {
        color: #353535;
        font-size: 18px;
        font-weight: 600;
        letter-spacing: -0.5px;
        line-height: 24px;
        margin: 0;
        padding: 45px 0 0 30px;
        text-align: left;
        width: 700px;
    }

    .s6btm-txt span {
        color: #f47a30;
        font-size: 30px;
        font-weight: 700;
        line-height: 34px;
        text-transform: uppercase;
    }

    div#section7 {
        height: 648px;
    }

    .sec7inner {
        background: rgba(0, 0, 0, 0) url("bg-sp.jpg") no-repeat scroll center -3981px;
        height: 648px;
    }

    .s7hding {
        line-height: 48px;
        padding: 27px 0 0;
        text-align: center;
    }

    .s7txt {
        color: #000000;
        font-weight: bold;
        letter-spacing: -0.5px;
        line-height: 24px;
        margin: 0;
        padding: 35px 0 0;
        text-align: center;
    }

    .s7txt span {
        color: #f47a30;
    }

    .slider {
        display: block;
        border-spacing: 10px 0;
        margin-left: -10px;
        margin-right: -10px;
    }

    .slick-slide {
        background: rgba(0, 0, 0, 0) url("slider-box.png") no-repeat scroll center top;
        position: relative;
        background-size: cover;
    }

    .rgt-box {
        margin: 0;
    }

    .sldr-tstimnl {
        color: #161616;
        font-size: 16px;
        font-style: italic;
        line-height: 18px;
        margin: 0;
        padding: 68px 1px 0px 15px;
        text-align: left;
        width: 288px;
        margin-bottom: 10px;
    }

    .slider-txt span {
        color: #00adef;
        line-height: 40px;
    }

    .sliderimg, .star {
        position: absolute;
        right: 18px;
        top: 109px;
    }

    .star {
        right: 29px;
        top: 304px;
    }

    .tstmnl-name, .tstmnl-name2 {
        color: #f47a30;
        font-size: 18px;
        font-weight: bold;
        letter-spacing: -0.3px;
        line-height: 22px;
        margin: 0;
        text-align: left;
    }

    .tstmnl-name {
        padding: 0px 0 5px 13px;
    }

    div#section8 {
        background: rgba(0, 0, 0, 0) url("bg-sp.jpg") no-repeat scroll center -4631px;
        height: 718px;
    }

    .s8hding {
        padding: 98px 0 0 27px;
    }

    .s8hding2 {
        padding: 0 0 0 22px;
    }

    .s8txt {
        color: #ffffff;
        font-size: 24px;
        font-weight: bold;
        letter-spacing: 1px;
        line-height: 28px;
        margin: 0;
        padding: 26px 0 0 32px;
        text-align: left;
    }

    .s8seal1 {
        position: absolute;
        right: 282px;
        top: 16px;
    }

    .s8-logo, .s8-prod1, .s8-prod2, .s8-prod3 {
        left: 33px;
        position: absolute;
        top: 11px;
    }

    .s8-prod1 {
        left: 444px;
        top: 317px;
    }

    .s8-prod2 {
        left: 641px;
        top: 316px;
    }

    .s8-prod3 {
        left: 501px;
        top: 280px;
    }

    .s8no-pres {
        left: 10px;
        position: absolute;
        top: 294px;
    }

    .s8seal2 {
        left: auto;
        position: absolute;
        right: -49px;
        top: 442px;
    }

    ul.s8list {
        margin: 0;
        padding: 144px 0 0 32px;
    }

    ul.s8list li {
        padding: 6px 0 0 52px;
    }

    ul.s8list li:nth-child(3) {
        margin: 25px 0 2px;
        padding: 6px 0 0 49px;
    }

    .go-top {
        cursor: pointer;
    }

    .sec8btn {
        display: block;
        left: 33px;
        position: absolute;
        top: 584px;
    }

    div#footer {
        background: #ffffff none repeat scroll 0 0;
        border-top: 1px solid #e7e7ce;
        height: auto;
    }

    .ftrtxt {
        color: #887070;
        font-size: 17px;
        line-height: 27px;
        margin: 0;
        padding: 25px 0;
        text-align: center;
    }

    .ftrtxt a, .ftrtxt a:hover {
        color: #887070;
        text-decoration: none;
    }

    .ftrtxt span {
        line-height: 22px;
        text-transform: none;
    }

    .pulse {
        animation-duration: 1.5s;
        animation-iteration-count: infinite;
        animation-name: pulse;
        color: #fff;
        font-weight: bold;
        padding-left: 59px;
        text-transform: uppercase;
        font-size: 24px;
        padding-top: 7px;
        text-decoration: none;
        text-align: center;
    }


    @keyframes pulse {
        0% {
            opacity: 0.9;
            transform: scale(0.9);
        }

        50% {
            opacity: 1;
            transform: scale(1);
        }

        100% {
            opacity: 0.9;
            transform: scale(0.9);
        }
    }

    @keyframes pulse {
        0% {
            opacity: 0.7;
            transform: scale(0.95);
        }

        50% {
            opacity: 1;
            transform: scale(1);
        }

        100% {
            opacity: 0.7;
            transform: scale(0.95);
        }
    }

    .sprite {
        background-image: url("spritesheet.png");
        background-repeat: no-repeat;
        display: block;
    }

    .sprite-arrow {
        background-position: -5px -5px;
        height: 106px;
        width: 534px;
    }

    .sprite-as-seen {
        background-position: -5px -121px;
        height: 44px;
        width: 467px;
    }

    .sprite-bargraph-3 {
        background-position: -5px -175px;
        height: 102px;
        width: 549px;
    }

    .sprite-frm-btm {
        background-position: -549px -5px;
        height: 39px;
        width: 164px;
    }

    .sprite-logo {
        background-position: -549px -54px;
        height: 77px;
        width: 239px;
        display: table;
    }

    .sprite-natural-seal {
        background-position: -564px -141px;
        height: 222px;
        width: 160px;
    }

    .sprite-s1no-pres {
        background-position: -5px -287px;
        height: 88px;
        width: 504px;
    }

    .sprite-s2four {
        background-position: -519px -373px;
        height: 196px;
        width: 199px;
    }

    .sprite-s2one {
        background-position: -5px -579px;
        height: 197px;
        width: 200px;
    }

    .sprite-s2three {
        background-position: -215px -579px;
        height: 196px;
        width: 200px;
    }

    .sprite-s2two {
        background-position: -425px -579px;
        height: 196px;
        width: 200px;
    }

    .sprite-s4img {
        background-position: -798px -5px;
        height: 372px;
        width: 326px;
    }

    .sprite-s4seal {
        background-position: -5px -387px;
        height: 156px;
        width: 156px;
    }

    .sprite-s5img {
        background-position: -1134px -5px;
        height: 118px;
        width: 79px;
    }

    .sprite-satisfaction-seal {
        background-position: -728px -387px;
        height: 188px;
        width: 221px;
    }

    .sprite-sliderimg {
        background-position: -171px -387px;
        height: 158px;
        width: 155px;
    }

    .sprite-sliderimg2 {
        background-position: -336px -387px;
        height: 155px;
        width: 155px;
    }

    .sprite-sliderimg3 {
        background-position: -959px -387px;
        height: 155px;
        width: 155px;
    }

    .sprite-sliderimg4 {
        background-position: -959px -552px;
        height: 155px;
        width: 155px;
    }

    .sprite-star {
        background-position: -1134px -133px;
        height: 18px;
        width: 101px;
    }

    .sprite-submit-btn {
        background-position: -635px -717px;
        height: 70px;
        width: 276px;
    }

    .sprite-top-tagline {
        background-position: -5px -797px;
        height: 56px;
        width: 745px;
    }

    .sprite-us-seal {
        background-position: -921px -717px;
        height: 173px;
        width: 188px;
    }

    .prices {
        text-align: center;
    }

    .prices__old {
        text-decoration: line-through;
        opacity: 0.8;
    }

    .prices__new {
        font-weight: 700;
        font-size: 1.5em;
        color: #f92b17;
    }

    .s1seal.spr1 {
        background: rgba(0, 0, 0, 0) url("spr.png") no-repeat scroll 0 -108px;
        height: 160px;
        width: 143px;
    }

    form .fields .input select {
        font-family: 'Open Sans', sans-serif;
        width: 100%;
    }

    #exit_pop {
        background-color: rgba(0, 0, 0, 0.5);
        clear: none;
        display: none;
        height: 100%;
        left: 0;
        margin: 0;
        padding: 0;
        position: fixed;
        top: 0;
        width: 100%;
        z-index: 9999;
    }

    #exit_pop_content {
        cursor: pointer;
        height: 400px;
        left: 50%;
        margin: -150px 0 0 -370px;
        position: absolute;
        top: 50%;
        width: 576px;
    }

    #discountsection {
        background-color: red;
        border-bottom: 4px dashed white;
        color: white;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 15px;
        font-weight: bold;
        height: 50px;
        line-height: 50px;
        position: fixed;
        text-align: center;
        top: 0;
        width: 100%;
        z-index: 9999;
    }

    #discountoffset {
        height: 22px;
        padding: 15px 0;
        position: relative;
        width: 100%;
    }

    #discountholder {
        display: none;
    }

    #discountsection {
        text-align: center;
        top: 0px;
        width: 100%;
        height: 50px;
        line-height: 50px;
        background-color: red;
        border-bottom: white dashed 4px;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 15px;
        font-weight: bold;
        color: white;
    }

    .security {
        margin: 8px auto 11px auto;
        display: block;
    }

    .slick-slide__content {
        padding: 10px
    }

    form .fields .input select {

        background-position: 97% 50% !important;
        background-repeat: no-repeat !important;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        height:39px;
    }

    .doctor__text {
        font-size: 25px;
        color: #fff;
        margin-top: 14px;
        padding-bottom: 30px;
    }
    .relative {
        position: relative;
        display: table;
    }

    .s1no-pres__text {
        position: absolute;
        top: 50%;
        color: #fff;
        font-size: 18px;
        padding-left: 95px;
        margin-top: -31px;
        padding-right: 140px;
    }
    .sprite-logo__text {
        color: #000;
        font-size: 13px;
        margin-left: auto;
        margin-right: auto;
        position: absolute;
        left: 35px;
        bottom: -10px;
        display: table;
    }

    .kurs {font-size: 14px;font-weight:700;margin-bottom:20px}
    .lightgrey{color: #f92b17;font-weight:700;
               font-size: 13px;}
}